.special-offer
    width: 300px
    flex-shrink: 0
    box-shadow: 0 1px #283345
    background: linear-gradient(to bottom, #009fde, #2e4a98)
    color: #fff

    &__header
        text-align: center
        font-size: 24px
        font-family: Helvetica, Arial, sans-serif
        color: red
        text-shadow: -2px 0 2px white, 0 2px 2px white, 2px 0 2px white, 0 -2px 2px white

    &__emoji
        font-size: 34px
        margin: 0
        line-height: 1em
        text-align: center

    &__description
        margin: 12px 20px 0
        text-align: center

    &__requirements
        font-size: .8em
        margin: 12px 20px 20px
        font-style: italic
